/* .search {
  -webkit-appearance: none;
  border: none;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
} */

.search {
  width: 400px;
  height: 40px;
  font-size: 1.5rem;
  padding-left: 0.5rem;
  margin: auto;
}
