.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 315px;
  background-color: #95dada;
  border-radius: 4px;
  margin: 0 10px 30px;
  cursor: pointer;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: ease-out;
  transition-duration: 0.4s;
}

.card:hover {
  transform: scale(1.05);
}

.card h2 {
  margin-bottom: 0;
}

.card h3 {
  margin-top: 6px;
  font-weight: 400;
}
